b{
	font-weight: normal;
}
.Code-body{
	width: 90%;
	margin: auto;
	margin-top: 4rem;
	overflow: hidden;
	box-shadow: 1px 1px 7px rgba(0,0,0,.2);
}
.Code-header{
	padding-left: 3rem;
}
.Code-img{
	width: 12rem;
	height: 12rem;
}
.Code-btn{
	width: 50%;
	margin: 1.5rem auto;
	height: 2rem;
	font-size:1rem;
	line-height: 2rem;
}
