.back-header{
	position: fixed;
	left:0;
	top:0;
	right:0;
	z-index:100;
	text-align: center;
	background: #C71A20;
	height: 2.5rem;
}
.back-header-h1{
	color: white;
	line-height: 2.5rem;
	font-size: .9rem;
}
.back-header-icon{
	color: white;
	height: 2.5rem;
	font-size: .8rem;
	line-height: 2.5rem;
}
.icon-chevron-left:before{
	margin-right: .1rem;
}
.header-right{
	height: 2.5rem;
	line-height: 2.5rem;
	font-size: .8rem;
	color: #FFFFFF;
}
/*底部导航显示图标用的*/
.weui-tar__img {
	display: inline-block;
	width: 1.3rem;
	height: 1.3rem;
}
.fix_containner{
	margin-top:2.5rem;
	margin-bottom:3rem;
}